<!DOCTYPE html>
<html>
<head>
    <title>GreenField | We help you in hiring.</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">

    <link href="/static/css/application.css" type="text/css" rel="stylesheet"/>

    <script src="/static/js/external/jquery.js" type="text/javascript">
    </script><!--
    <script src="/static/js/external/jquery.cookie.js" type="text/javascript">
    </script> -->

    <script src="/static/js/external/angular.min.js" type="text/javascript"></script>
    <script src="/static/js/external/angular-cookies.min.js" type="text/javascript"></script>
</head>
<body  ng-app="myAngularApp" >
<header>Project GreenField</header>
<div id="loginContainer">
    <form name="LoginForm">
        <fieldset>
            <legend>Login</legend>
            <div class="formfiled">
                <label>Username</label>
                <input type="text" name="username" id="txtusername" placeholder="Enter username...."/>
            </div>
            <div class="formfiled">
                <label>Password</label>
                <input type="text" name="password" id="txtpassword" placeholder="enter password...."/>
            </div>
            <div class="formfiled">
                <label>&nbsp</label>
                <button type="submit">Login</button>
            </div>
        </fieldset>
    </form>

</div>
<div ng-controller="commentsCtrl" ng-init="init()">
    <div id="commentContaineter">
        <h1>Comment Form</h1>
        <form id="commentform" ng-submit="postComment()">
            <!--<div style="display:none">
                <input type="hidden" name="csrfmiddlewaretoken" id="commentform_csrfmiddlewaretoken"  ng-model="commentToBePosted.csrfmiddlewaretoken"></input>
            </div>-->
            <div class="formfiled">
                <label>Comment Title</label><br/>
                <input type="text" name="title" ng-model="commentToBePosted.title"/>
            </div>
            <div class="formfiled">
                <label>Description</label>
                <textarea cols="10" rows="5" name="description" ng-model="commentToBePosted.description"></textarea>
            </div>
            <div class="formfiled">
                <button type="submit">Post Comment</button>
            </div>
            <div class='alert alert-danger' ng-show="errorForComments">
                <div ng-repeat="err in errorForComments.error.title" >
                   [[err]]
                </div>
            </div>
        </form>

    </div>

    <div id="commentlisting">
        <h1 id="commentformtitle"  >Comment Listings</h1>
        <div class="commentcontainer"  ng-repeat="comment in usercomments" >
                <div id="comment1title" class="commenttxttitle" ng-bind="comment.title"></div>
                <p id="comment1description" class="comment"     ng-bind="comment.description"></p>
                <div>[[ comment.is_deleted ]]</div>
         </div>
    </div>
</div>

<script src="/static/js/angular/angular-common.js" type="text/javascript">
</script>
<script src="/static/js/angular/controllers/commentsCtrl.js" type="text/javascript">
</script>
<!--
<script type="text/javascript">
    $( document ).ready(function() {
        $('#commentform_csrfmiddlewaretoken').val($.cookie("csrftoken"));
    });

</script>
-->
</body>
</html>